# dependencies
node_modules

# local env files
.env
.envrc

# generated types
.astro/

# build output
dist/

# cached font-awesome icons for CV
.fa-icons/

letters/

.direnv/

/result

# pre-commit managed by nix pre-commit-hooks
.pre-commit-config.yaml
