# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.envrc

# turbo
.turbo

# vercel
.vercel

# generated types
.astro/

# development cache for link previews
.link-preview-cache/

# utility folder for old stuff
old/

# build output
dist/

# cached font-awesome icons for CV
.fa-icons/

letters/

.direnv/

/result

# pre-commit managed by nix pre-commit-hooks
.pre-commit-config.yaml
