@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply scroll-pt-12;
}

.btn {
  @apply normal-case;
}

.collapse {
  transition: height var(--sc-auto-duration) cubic-bezier(0.65, 0, 0.35, 1);
}

/* solid-collapse calculates the target height based on scrollHeight which does
 * not include margins. Because of this the first and the last children of the
 * collapsed content's descendents may not have margins. */
.collapse *:first-child {
  margin-top: 0;
}

.collapse *:last-child {
  margin-bottom: 0;
}
